*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#181827;
    color:white;

    font-family:Arial, sans-serif;

    max-width:390px;
    min-height:100vh;

    margin:auto;
}

header{
    height:90px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 20px;

    background:linear-gradient(
        to bottom,
        #2b2c36,
        #181827
    );
}

header h1{
    color:#b8ccff;
    font-size:2rem;
}

.perfil-btn{
    border:none;
    background:none;

    color:#b8ccff;

    font-size:1.5rem;
    cursor:pointer;
}

main{
    padding:20px;
}

.titulo-secao{
    border-bottom:2px solid #d9d9d9;
    padding-bottom:10px;
    margin-bottom:35px;
}

.titulo-secao h2{
    font-size:1.2rem;
}

.opcao{
    margin-bottom:35px;
    padding-bottom:20px;

    border-bottom:1px solid #808080;
}

.opcao label{
    display:block;
    margin-bottom:15px;

    font-weight:bold;
}

.slider{
    width:100%;
    cursor:pointer;
}

.slider::-webkit-slider-runnable-track{
    height:8px;

    background:linear-gradient(
        to right,
        #8bb2ff 50%,
        #ffffff 50%
    );

    border-radius:10px;
}

.slider::-webkit-slider-thumb{
    appearance:none;

    width:18px;
    height:18px;

    background:#8bb2ff;

    border:2px solid white;
    border-radius:50%;

    margin-top:-5px;
}

.menu-btn{
    width:145px;

    background:#252737;

    color:white;

    border:1px solid #8bb2ff;
    border-radius:12px;

    padding:12px;

    margin-bottom:20px;

    text-align:left;

    font-weight:bold;

    cursor:pointer;

    box-shadow:0 4px 8px rgba(0,0,0,0.3);
}

.menu-btn:hover{
    background:#2c3044;
}
