*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#181827;
    color:white;
    font-family:Arial, sans-serif;

    max-width:390px;
    min-height:100vh;
    margin:auto;
}

header{
    height:90px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 18px;

    background:linear-gradient(
        to bottom,
        #2c2d38,
        #181827
    );
}

.logo{
    color:#b8ccff;
    font-size:2rem;
    font-weight:bold;
}

.header-icons{
    display:flex;
    gap:12px;
}

.icon-btn{
    background:none;
    border:none;

    color:#b8ccff;
    font-size:1.5rem;

    cursor:pointer;
}

main{
    padding:22px 18px;
}

.voltar-btn{
    background:#b8ccff;
    color:#1d2235;

    border:none;
    border-radius:20px;

    padding:10px 18px;

    font-weight:bold;

    cursor:pointer;

    margin-bottom:60px;
}

.dificuldades{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:28px;
}

.dificuldade{
    width:190px;
    height:75px;

    border:none;
    border-radius:18px;

    color:white;
    font-size:2rem;
    font-weight:bold;

    cursor:pointer;

    box-shadow:0 8px 12px rgba(0,0,0,0.25);
}

.facil{
    background:#2f8a22;
}

.medio{
    background:#c5a126;
}

.dificil{
    background:#c51414;
}

.dificuldade:hover{
    transform:translateY(-2px);
    transition:0.15s;
}