@font-face {
    font-family: "Porto Sans Stencil";
    src: url("../assets/fonts/PortoSansStencil-Bold.otf") format("truetype");
}

.splash-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    height:100vh;

    background:#181827;
}

#attiLogo{

    width:150px;
    height:auto;

    display:block;

    animation:
        aparecer 1s ease,
        rodar 1s ease 1s,
        subir 1s ease 2s forwards;
}

#texto{

    opacity:0;

    animation:
        mostrarTexto 1s ease 3s forwards;
}

@keyframes aparecer {

    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes rodar {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes subir {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }

}

@keyframes mostrarTexto {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

#texto{

    opacity:0;

    text-align:center;

    color:#b8ccff;

    animation:
        mostrarTexto 1s ease 3s forwards;

}

#texto h1{

    font-size:3rem;

    margin-bottom:10px;

}

#texto p{

    font-size:1.4rem;

    margin-bottom: 100px;

}

#texto h1{
    font-family: "Porto Sans Stencil", sans-serif;
}

#texto p{
    font-family: "Porto Sans Stencil", sans-serif;
}