*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#181827;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

    max-width:390px;
    min-height:100vh;
    margin:auto;
}

header{
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 18px;

    background:linear-gradient(
        to bottom,
        #2a2b36,
        #1b1c29
    );
}

header h1{
    color:#b9cdff;
    font-size:2rem;
}

.profile-btn{
    border:none;
    background:none;

    font-size:1.6rem;
    color:#b9cdff;

    cursor:pointer;
}

main{
    padding:30px 24px;
}

h2{
    text-align:center;
    margin-bottom:35px;
    font-size:2rem;
}

.games-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.game-card{
    border-radius:20px;
    overflow:hidden;
}

/* ---------- REAÇÃO ---------- */

.reaction-card{
    height:130px;

    background:#232437;
    border:2px solid #4f5275;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.reaction-content{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}

.reaction-content img:first-child{
    width:70px;
}

.reaction-content img:last-child{
    width:35px;
}

.reaction-card span{
    text-align:center;
    padding:10px;
    font-weight:bold;
}

/* ---------- SEQUÊNCIA ---------- */

.sequence-card{
    background:#45206d;
    padding:12px;
}

.sequence-card h3{
    text-align:center;
    margin-bottom:12px;
}

.colors-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:4px;
}

.colors-grid div{
    aspect-ratio:1;
    border-radius:4px;
}

.red{background:red;}
.yellow{background:yellow;}
.green{background:lime;}
.blue{background:#3040ff;}
.orange{background:orange;}
.purple{background:#c500ff;}
.white{background:white;}
.pink{background:#ff2d92;}
.cyan{background:#0e98c5;}

/* ---------- FOCO ---------- */

.focus-card{
    grid-column:1 / span 2;

    background:#7eabea;

    padding:14px;
}

.focus-items{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:8px;

    justify-items:center;
    margin-bottom:10px;
}

.focus-items img{
    width:40px;
}

.focus-card span{
    display:block;
    text-align:center;
    font-size:1.4rem;
    font-weight:bold;
}

/* ---------- COLUNA ESQUERDA ---------- */

.left-column{
    display:flex;
    flex-direction:column;
    gap:12px;
}

/* ---------- ORGANIZAÇÃO ---------- */

.organization-card{
    background:#e8d0a8;
    padding:8px;
}

.organization-card h4{
    color:black;
    text-align:center;
    margin-bottom:6px;
}

.organization-card img{
    width:100%;
}

/* ---------- ESCAPE ---------- */

.escape-card{
    background:#e8d0a8;
    position:relative;
}

.escape-card img{
    width:100%;
    display:block;
}

.escape-card span{
    position:absolute;
    left:50%;
    top:50%;

    transform:translate(-50%, -50%);

    color:black;
    font-weight:bold;
    font-size:1.4rem;
}

/* ---------- ALVO ---------- */

.target-card{
    background:#159b89;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:15px;
}

.target-card img{
    width:90px;
}

.target-card span{
    font-size:1.8rem;
    font-weight:bold;
}

.hidden{
    display:none;
}

#introModal{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.7);

    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#232437;

    padding:25px;

    border-radius:20px;

    text-align:center;
}

.modal-content button{
    margin-top:15px;

    padding:10px 20px;

    border:none;

    border-radius:10px;

    cursor:pointer;
}

.target-card{
    grid-column:1 / span 2;
}