*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#181827;
    color:white;
    font-family:Arial, sans-serif;

    max-width:390px;
    min-height:100vh;
    margin:auto;
}

header{
    height:90px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 18px;

    background:linear-gradient(
        to bottom,
        #2c2d38,
        #181827
    );
}

.logo{
    color:#b8ccff;
    font-size:2rem;
    font-weight:bold;
}

.header-icons{
    display:flex;
    gap:12px;
}

.icon-btn{
    background:none;
    border:none;

    color:#b8ccff;
    font-size:1.5rem;

    cursor:pointer;
}

main{
    padding:20px;
}

.shop-container{
    border:2px solid #8fb3ff;
    border-radius:28px;

    overflow:hidden;
}

/* Avatar */

.avatar-area{
    display:flex;
    justify-content:center;

    padding:18px 0;
}

.avatar-circle{
    width:100px;
    height:100px;

    border-radius:50%;
}

.avatar-circle img {

    width: 100%;

    height: 100%;

    object-fit: contain;

}

.item img {

    width: 70px;

    height: 70px;

    object-fit: contain;

    pointer-events: none;

}

.item {

    border: 1px solid #8fb3ff;

    border-radius: 12px;

    padding: 10px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;

}

.items-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;

    padding: 20px;

}

.tabs {

    display: flex;

    justify-content: center;

}

.tab {

    width: 60px;

    height: 40px;

}

.face-item {

    width: 70px;
    height: 70px;

    object-fit: contain;

    pointer-events: none;

}

.hat-item {

    width: 70px;
    height: 70px;

    object-fit: contain;

    pointer-events: none;

}

.auriculares {

    transform: scale(1.3);

}

.oculos {

    transform: scale(1.4);

}

.bigode {

    transform: scale(1.5);

}

.monoculo {

    transform: scale(1.1);

}

.mascara {

    transform: 
        translateY(5px)
        scale(1.6);

}

.hacker {

    transform: scale(2.1);

}

.pala {

    transform:
        scale(1.25)
        rotate(-30deg);

}

.laco_formal {

    transform: 
        translateY(5px)
        scale(2);

}

.mascara_gas {

    transform: scale(1.2);

}

.fita {

    transform: scale(1.8);

}
