*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#181827;
    color:white;
    font-family:Arial, sans-serif;

    max-width:390px;
    min-height:100vh;
    margin:auto;
}

header{
    height:80px;
    padding:0 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:linear-gradient(
        to bottom,
        #2c2d38,
        #181827
    );
}

.logo{
    color:#b8ccff;
    font-size:2rem;
    font-weight:bold;
}

.header-icons{
    display:flex;
    gap:12px;
}

.icon-btn{
    background:none;
    border:none;

    color:#b8ccff;
    font-size:1.5rem;

    cursor:pointer;
}

main{
    padding:22px 16px;
}

.voltar-btn{
    background:#b8ccff;
    color:#1d2235;

    border:none;
    border-radius:20px;

    padding:10px 18px;

    font-weight:bold;

    cursor:pointer;

    margin-bottom:30px;
}

.levels-container{
    border:2px solid #8fb3ff;
    border-radius:20px;

    padding:15px 10px;

    position:relative;
}

.level-row{
    display:flex;
    align-items:center;
    justify-content:center;

    height:60px;
}

.level{
    width:42px;
    height:42px;

    border-radius:50%;

    border:2px solid #cfe0ff;

    background:none;

    color:white;

    font-size:1.4rem;
    font-weight:bold;

    cursor:pointer;

    z-index:2;
}

.tutorial{
    font-size:1rem;
}

.line{
    width:18px;
    height:2px;

    background:#cfe0ff;
}

.vertical{
    width:2px;
    height:27px;

    background:#cfe0ff;

    margin-top: -10px;
    margin-bottom: -10px;
}



.right{
    margin-left:auto;
    margin-right:76px;
}

.left{
    margin-left:76px;
}

.level:hover{
    background:#2c3550;
}

.level.completed {

    background: #B2D0FF;

    color: black;

}

.level.locked {

    opacity: 0.4;

    cursor: not-allowed;

}